<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.project.member.MemberMapper">

<insert id="insert" parameterType="kr.co.project.member.MemberVO">

	insert into member (
		email, pwd, name, gender, birthday, hp, zipcode, add1, add2, regdate
	) values (
		#{email}, md5(#{pwd}), #{name}, #{gender}, #{birthday}, #{hp}, #{zipcode}, #{add1}, #{add2}, now()
	)
</insert>

<select id="emailDupCheck" parameterType="string" resultType="int">
	select count(*) from member where email = #{email}
</select>

<select id="loginCheck" parameterType="kr.co.project.member.MemberVO" resultType="kr.co.project.member.MemberVO">
	select * from member where email=#{email} and pwd = md5(#{pwd})
</select>

<select id="findEmail" parameterType="kr.co.project.member.MemberVO" resultType="kr.co.project.member.MemberVO">
	select * from member where name=#{name} and hp=#{hp}
</select>

<select id="findPwd" parameterType="kr.co.project.member.MemberVO" resultType="kr.co.project.member.MemberVO">
	select * from member where email=#{email} and name=#{name} and hp=#{hp}
</select>

<update id="updateTempPwd" parameterType="kr.co.project.member.MemberVO">
	update member set pwd = md5(#{pwd}) where email=#{email} and name=#{name} and hp=#{hp}
</update>

</mapper>