<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.project.board.BoardMapper">

<insert id="insert" parameterType="kr.co.project.board.BoardVO">
	insert into board (title, content, regdate, viewcount, member_no, filename_org, filename_real)
	values
	(#{title}, #{content}, now(), 0, #{member_no}, #{filename_org}, #{filename_real})
</insert>

<select id="count" parameterType="kr.co.project.board.BoardVO" resultType="int">
	select count(*) from board
	<where> <!-- where태그없이 쓰려면 -> where 1=1 -->
		<if test="stype != null and stype != ''"> <!-- 빈값도 제외시켜야 함 -->
			<if test="stype != 'all'">
				${stype} like '%${sword}%'
			</if>
			<if test="stype == 'all'">
				title like '%${sword}%' or content like '%${sword}%'
			</if>
	    </if>
	</where>
</select>

<select id="list" parameterType="kr.co.project.board.BoardVO" resultType="kr.co.project.board.BoardVO">
	select *,
		(select name from member where no=board.member_no) as member_name,
		(select count(*) from comment where board_no=board.no and tablename='board') as comment_count
	from board
	<where> <!-- where태그없이 쓰려면 -> where 1=1 -->
		<if test="stype != null and stype != ''"> <!-- 빈값도 제외시켜야 함 -->
			<if test="stype != 'all'">
				${stype} like '%${sword}%'
			</if>
			<if test="stype == 'all'">
				title like '%${sword}%' or content like '%${sword}%'
			</if>
	    </if>
	</where>
	order by regdate desc
	limit ${startIdx}, ${pageRow}
</select>

<select id="view" parameterType="int" resultType="kr.co.project.board.BoardVO">
	select * from board where no = #{no}
</select>

<update id="updateViewcount" parameterType="int">
	update board set viewcount = viewcount+1 where no = #{no}
</update>

<update id="update" parameterType="kr.co.project.board.BoardVO">
	update board set
		title = #{title}, content = #{content}
		<if test="filename_org != null">
			,filename_org = #{filename_org}, filename_real = #{filename_real}
		</if>
	where no = #{no}
</update>

<delete id="delete" parameterType="int">
	delete from board where no = #{no}
</delete>

</mapper>